%p#notice= notice

%p
  %b Name:
  = @admin.name
%p
  %b Email:
  = @admin.email
%p
  %b Password:
  = @admin.password
%p
  %b Password confirmation:
  = @admin.password_confirmation

= link_to 'Edit', edit_admin_path(@admin)
\|
= link_to 'Back', admins_path
